<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
      h1{
        text-align: center;
      }
      form{
        text-align: center;
      }
      input{
        width: 600px;
        padding: 10px ;
        margin: 10px;
      }
      @media only screen and (max-width: 700px) {
        input{
          width: 90%;
        }
      }
      
    </style>
  </head>

  <body>
    
          <h1>Enter personal contact details and attach profile picture</h1>

          <form class="mt-4" action="/submit" method="POST" >

              <input type="text" name="name" id="name" placeholder="Enter your full name" title="Name" value=""/><br>

              <input type="email" name="email" id="email" placeholder="Enter your email" title="Email" value=""/><br>

              <input type="number" name="number" id="number" placeholder="Enter your working Mobile Number" title="Number" value=""/><br>

              <input type="file" name="file"  id="file" />
            
            <center>
            <button type="submit" class="btn btn-primary">Submit</button>
            </center>
          </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  </body>
</html>